:root {
    background-color: #222;
    color: #fff;
    font-family: "Arial", sans-serif;
}

body {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

body.home {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

main {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
}

ul a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

ul a:hover {
    background-color: #444;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p {
    text-align: center;
}

form label {
    align-self: flex-start;
    font-size: 0.8rem;
    color: #bbb;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

form button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}

#results {
    width: 100%;
    color: #ccc;
}

#results span {
    font-weight: bold;
    color: #fff;
}

#grades-needed {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

#grades-needed > p {
    text-align: center;
}

#copy-link-container {
    width: 100%;
    text-align: center;
}

#copy-link {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
}

@media screen and (max-width: 600px) {
    body {
        width: 90%;
    }

    ul {
        flex-direction: column;
        gap: 10px;
    }

    ul a {
        padding: 20px 40px;
        text-align: center;
    }
}
